<div id="barre_haut">
  <div id="windowTitle"></div>
  <div id="windowTitleText">
    <img src="images/noxunote.png" height="12px"> NoxuNote
  </div>
  <div id="trayButtons">
    <i onClick="minimizeWindow()" class="fa fa-window-minimize pointable" style="color: rgb(100, 129, 184); font-size: 1.1em; margin-right: 5px;" aria-hidden="true"></i>
    <i id="maximizeButton" onClick="maximizeWindow()" class="fa fa-window-maximize pointable" style="color: rgb(184, 150, 100); font-size: 1.1em; margin-right: 5px" aria-hidden="true"></i>
    <i onClick="closeWindow()" class="fa fa-times pointable" style="color: rgb(169, 71, 71); font-size: 1.3em" aria-hidden="true"></i>
  </div>
  <div>
    <div class="thumb">
      <button title="Nouvelle note" id="headerButton" onClick='newFile()'><i class="fa fa-plus" aria-hidden="true"></i></button>
      <div id="TitrePrincipal" onClick='boutonMenuGaucheSauver()'>(Cliquez pour nommer la note)</div>
    </div>
    <div class="listeBoutons">
      <button title="Sauvegarder" id="headerButton" onClick='boutonMenuGaucheSauver()'><i class="fa fa-save" aria-hidden="true"></i></button>
      <div [hidden]="isSaveMenuOpened">Opened</div>
      <button title="Ouvrir" id="headerButton" (click)='boutonMenuGaucheOuvrir()'><i class="fa fa-folder-open" aria-hidden="true"></i></button>
      <button title="Exporter" id="headerButton" onClick='openExport()'><i class="fa fa-print"></i></button>
      <button title="Aide et tutoriel" id="headerButton" onClick='boutonAide()'><i class="fa fa-info" aria-hidden="true"></i></button>
      <button title="Dessiner" id="headerButton" onClick='dessiner()'><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button title="Insérer une image" id="headerButton" onClick='insertLocalImage()'><i class="fa fa-link" aria-hidden="true"></i></button>
      <button title="Calculatrice" id="headerButton" onClick='boutonCalculatrice()'><i class="fa fa-calculator" aria-hidden="true"></i></button>
      <button title="Bloc notes" id="headerButton" onClick='toDo()'><i class="fa fa-sticky-note" aria-hidden="true"></i></button>
      <button title="Réglages de l'application" id="headerButton" onClick='openSettings()'><i class="fa fa-cog" aria-hidden="true"></i></button>
    </div>
  </div>
</div>

<app-menu-left-save></app-menu-left-save>