@keyframes apparitionWidth {
    0% {
        opacity: 1;
        width: 80%
    }
    100% {
        opacity: 1;
        width: 85%
    }
}

@keyframes apparitionHeight {
    0% {
        opacity: 1;
        height: 4px
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1;
        height: 6px
    }
}

@keyframes apparitionOpacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes apparitionHaut {
    0% {
        margin-top: -100px
    }
}

@keyframes apparitionBas {
    0% {
        margin-bottom: -80px
    }
}

@keyframes apparitionGauche {
    0% {
        left: -400px
    }
}

@keyframes apparitionFontSize {
    0% {
        font-size: 0
    }
    100% {
        font-size: 1em
    }
}

::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar {
    width: 4px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: #63676b;
    border-radius: 2px
}

body {
    font-family: Arial, Times, sans-serif;
    background-color: #282f37;
    color: #dde0e0
}

.mlateral-gauche.appear {
	visibility: visible;
	opacity: 0.97;

	transform: translateX(0);
	-webkit-transform: translateX(0);
}

.form {
    animation: apparitionOpacity .4s forwards;
    background-color: #282f37;
    color: #fff;
    font-size: 1em;
    border: 0;
    margin-top: 10px;
    margin-bottom: 100px;
    z-index: 2
}

input#menuGaucheSauverInput {
    border: none;
    font-size: 1.3em
}

.formSave {
    margin: 0;
}

.savebutton {
    background-color: #a28a6c;
    color: #efefef;
    min-height: 25px;
    width: 100px;
    text-align: center;
    padding-top: 6px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    transition: background-color 1s ease
}

.savebutton:hover {
    background-color: #766550;
    transition: background-color 1s ease;
    cursor: pointer
}

.savebutton:active {
    transition: background-color 50ms ease;
    background-color: #34bf0d
}

em {
    color: #16150b;
    background-color: rgba(229, 234, 65, .89);
    padding: .1em;
    font-style: normal
}

.mlateral {
    position: fixed;
    background-color: #36404c;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 5;
    top: 59px;
    bottom: 0;
    transition: .6s;
    -webkit-transition: .6s;
}

.mlateral-gauche {
    left: 0;
    min-width: 250px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%)
}

.leftPannelClose {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #c05351;
    cursor: pointer
}

div#menuNote {
    background-image: url('../../../../assets/images/note_bg.png');
    border-radius: 12px;
    background-size: 90%;
    min-height: 100px;
    padding: 24px;
    margin-top: 22px;
    max-width: 270px;
}

input#menuGaucheSauverInput {
    width: 180px;
    background-color: transparent;
    color: #252626
}

div#matiere {
    background-color: #f2fefa;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin: 5px
}