<div id="addSource">
    <h4>Synchroniser</h4>
    <button nz-button nzType="default" (click)="triggerLogin('noxunote')">
        <img class="serviceIcon" src="../../../../assets/icons/logo_256.png" alt="">
        NoxuNote Cloud
    </button>
    <br>
    <button *ngIf="!isGoogleSignedIn" nz-button nzType="default" (click)="triggerLogin('drive')">
        <img class="serviceIcon" src="../../../../assets/drive.svg" alt="">
        Google Drive
    </button>
    <div *ngIf="isGoogleSignedIn">
        <button nz-button nzType="default" (click)="triggerLogout('drive')">
            <img class="serviceIcon" src="../../../../assets/drive.svg" alt="">
            Se déconnecter
        </button><br>
        <img class="serviceIcon" [src]="googleProfile.getImageUrl()" alt="">
        Connecté en tant que <b>{{ googleProfile.getName() }}</b>
    </div>
</div>