@import "../../../../styles.scss";

:host ::ng-deep .ant-tree {
  overflow: hidden;
}

:host ::ng-deep .ant-tree li {
  padding: 4px 0 0 0;
  user-select: none;
}

:host ::ng-deep .ant-tree {
  background-color: $left-menu-background;
}

.root {
  font-weight: 600;
  text-decoration: underline;
}

.folder {
  // font-weight: 700;
  font-size: 1.1em;
}

.file-name,
.folder-name {
  margin-left: 4px;
}
span.font-highlight {
  color: red;
}

.delete {
  color: darkred;
}
