/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

:root {
  --note-background: #ffffff;
  --left-menu-background: #f0f0f0;
}

.hidden {
  display: none;
}
.rawFormulae {
  display: none;
} 