/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
/* FLAT FONTS */
@font-face {
  font-family: FlatThin;
  src: url("assets/fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: FlatLight;
  src: url("assets/fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: FlatBold;
  src: url("assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: handwrite;
  src: url("assets/fonts/magnolia_script.otf");
}
