.container {
  .left {
    position: fixed;
    width: 300px;
    height: 100vh;
    padding: 20px;
    background-color: var(--left-menu-background);
  } 
  .right {
    margin-left: 300px;
    height: 100vh;
    padding: 0;
  }
}
