.container {
  .left {
    position: fixed;
    width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: var(--left-menu-background);
  } 
  .right {
    margin-left: 250px;
    height: 100vh;
    padding: 0;
    background-color: green;
  }
}
